RewriteEngine On

RewriteRule ^$ src/index.php [NC,L]
RewriteRule ^accueil$ src/index.php [NC,L]
RewriteRule ^patient$ src/patient_list.php [NC,L]
RewriteRule ^patient-create$ src/patient_add.php [NC,L]
RewriteRule ^agenda$ src/agenda.php [NC,L]
RewriteRule ^agenda-user$ src/agenda_user_take.php [NC,L]
RewriteRule ^agenda-consultation$ src/agenda_consult.php [NC,L]
RewriteRule ^slot$ src/slot_list.php [NC,L]
RewriteRule ^slot-create$ src/slot_add.php [NC,L]
RewriteRule ^consult-create$ src/consult_create.php [NC,L]
RewriteRule ^consult-add$ src/consult_create_add.php [NC,L]
RewriteRule ^my-consult$ src/consult_user.php [NC,L]
RewriteRule ^patient-show$ src/patient_show.php [NC,L]
RewriteRule ^update-patient$ src/update_patient.php [NC,L]